@using OdeToFood.Core;
@model Restaurant

    <div>
        <div class="card-body">
            <div class="card-title">
                <h3><a asp-page="./Details" asp-route-id="@Model.Id">@Model.Name</a></h3>
            </div>
            <div class="card-text">
                <span><strong>Location:</strong> @Model.Location</span>
                <span><strong>Cuisine:</strong> @Model.Cusine</span>
            </div>
        </div>
    </div>