@page "{id:int}"

@model OdeToFood.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Restaurant.Name</h2>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}

<form>
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Restaurant.Cusine"></label>
        <input asp-for="Restaurant.Cusine" class="form-control" readonly />
    </div>
</form>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Restaurant.Id" class="btn btn-primary">Edit Resturant</a>
    <a asp-page="./Delete" asp-route-id="@Model.Restaurant.Id" class="btn btn-danger">Remove Restaurant</a>
    <a asp-page="./List" class="btn btn-secondary">Cancel</a>
</div>