@page "{id:int}"

@model OdeToFood.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cusine
</div>

<div class="panel-footer">
    <a asp-page="./List" class="btn btn-primary">All Restaurants</a>
</div>
