@page "{id:int}"

@model OdeToFood.Pages.Restaurants.EditModel

@{
    ViewData["Title"] = "Edit Restaurant";
}

<form method="post">
    <div class="form-group">
        <div class="input-group">
            
        </div>
    </div>
</form>