@page
@{
    ViewData["Title"] = "Not Found";
}

<h2>Restaurant not found</h2>

<p>The data you have requested is not found within the application</p>

<a asp-page="./List" class="btn btn-primary">Return to list</a>